# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Cache
.vite/
.eslintcache

# Logs
*.log
npm-debug.log*

# Sistema operacional / editores
.DS_Store
Thumbs.db
.idea/
.vscode/
